#banner {
    width: 100%;
    aspect-ratio: 4/1;
    max-width: 1600px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

/* All images stacked */
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Visible one */
.slide.active {
    opacity: 1;
}