/* Header container */
#headerContainer{
    display: block;
    position: sticky;
    background-color: #fff;  
    border-bottom: 2px solid #e9e9e9;
    z-index: 1300;
        

}
#head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1600px;
    margin:auto;
    padding: 10px 2%;
    background-color: white;
    
}
#left ,#right{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;

}


#menuButton img{
    cursor: pointer;
    margin-right:5px;
    height: 32px;
    aspect-ratio: 4/4;
    
}

/* Logo size */
#logo img{
    height: 36px;
    aspect-ratio: 13/3;
    cursor: pointer;

}

/* Search bar */
#Searchbar{
    display: flexbox;
    flex: 1 1;
    margin-left: auto;
    margin-right: auto;
    align-self: stretch;
    max-width: 55%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-box {
    display: flex;
    align-items: center;
    width: auto;
    height: 23px;
    border: 1px solid #084d8c;
    border-radius: 5px;
    padding: 5px 30px 5px 25px;
    background-image: url("Header/Search/Search.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left 5px center;
}
.search-box img {
    width: 15px;
    height:15px;
    margin-right: 10px;
}
.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}


/* Cart icon */
#cart img{
    height: 33px;
    object-fit: cover;
    aspect-ratio: 4/3;
    cursor: pointer;
    align-items: center;
    padding-top: 2px;
}
#location, #Account {
    display: grid;
    grid-template-columns: 30px auto; /* image + text */
    align-items:center;              /* vertical alignment */
    column-gap: 8px;
}

#location img, #Account img {
    height: 25px;
    aspect-ratio: 4/4;
    object-fit: contain;
}

.header-text {
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* equal height text lines */
    height: 30px; /* SAME as image */
    cursor: pointer;
    border-right: 2px solid lightgray;
        
}

.header-text p {
    margin: 0;
    font-size: 15px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 11px;
}
.header-text p:last-child{
    color: #084d8c;
    font-weight:bold;
    justify-content: center;
    padding-right: 11px;
}