<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="CSS/admin.css">
</head>
<body>

<div class="sidebar">
    <h2>Admin Panel</h2>
    <a href="/admin">Dashboard</a>
    <a href="/admin/add">Add Product</a>
</div>

<div class="content">
    <%- body %>
</div>

</body>
</html>